html {
  background: black;


}

body{
  margin: auto;
  display: flex;
  justify-content: center;
  /*align-items:center;*/
}

.question{
  margin: 50px 100px 50px 0;
}
.body{
  width:976px;
  height: 574px;
  border: white solid 3px;
}

.answercontent{
  display: flex;
  flex-direction:column;
  align-content: flex-start;
  margin:50px 100px;
}

.buttonA, .buttonB, .buttonC, .buttonD{
  width: 200px;
  height:100px;
  margin:0 200px;

}






.question {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: red solid 3px;
  color: white;

}
